<div class="footer">
  <div class="foot bottom-left">
    <ul class="footLink">
      <li><a href="#">关于我们</a></li>
      <li><a href="#">企业合作</a></li>
      <li><a href="#">人才招聘</a></li>
      <li><a href="#">讲师招募</a></li>
      <li><a href="#">联系我们</a></li>
      <li><a href="#">意见反馈</a></li>
      <li><a href="#">友情链接</a></li>
    </ul>
    <p>Copyright © 2015-2016 北京知新树科技有限公司 (ver 0.1.2.7) aizhixin.com All Rights Reserved | 京ICP备16006959号-1</p>
  </div>
  <div class="followus bottom-right">

  </div>
</div>
